#!/usr/bin/env bash
alias la="ls -la"
alias ld="ls -ld"
alias ..="cd .."

# Recursively remove .DS_Store files
alias cleanupds="find . -type f -name '*.DS_Store' -ls -delete"

# Git
alias g="git"
alias gg="git log --all --decorate --oneline --graph"
alias gac="git add . && git commit -a -m "

# Install node Packages
alias nis="npm install --save "
# Search Through Terminal History
alias h='history'
alias hs='history | grep'
# Show my ip address
alias myip="curl http://ipecho.net/plain; echo"

